nflreadpy
pandas
numpy
requests
tqdm
lxml
thefuzz 
python-Levenshtein
transformers
datasets 
torch 
accelerate
polars
joblib
scikit-learn
xgboost
FastAPI
Flask
uvicorn
rapidfuzz
matplotlib
seaborn
fastapi
uvicorn[standard]
rapidfuzz
sqlalchemy
psycopg2-binary
connectorx
sentence-transformers